<template>
  <div class="telephone-number">
    <input
      type="tel"
      pattern="^\+?\d{1,4}$"
      class="country-code"
      aria-label="Country code"
      placeholder="Country code"
      v-model="countryCode"
      ref="countryCodeElement"
      data-test-telephone-number="country-code"
    />
    <input
      type="tel"
      pattern="^\d{6,9}$"
      class="main-number"
      aria-label="Main number"
      placeholder="Main number"
      v-model="mainNumber"
      ref="mainNumberElement"
      data-test-telephone-number="main-number"
    />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, watch } from 'vue'

import type { TelephoneNumber } from '@/entities/TelephoneNumber'

export default defineComponent({
  name: 'TelephoneNumber',
  props: {
    modelValue: {
      default: { countryCode: '', mainNumber: '' } as TelephoneNumber,
      type: Object as PropType<TelephoneNumber>
    }
  },
  emits: {
    'update:modelValue': (telephoneNumber: TelephoneNumber) => !!telephoneNumber
  },
  setup (props, { emit }) {
    const countryCodeValue = ref(props.modelValue.countryCode)
    const mainNumberValue = ref(props.modelValue.mainNumber)

    const countryCodeElement = ref<HTMLInputElement>()
    const mainNumberElement = ref<HTMLInputElement>()

    const countryCode = computed({
      get: () => countryCodeValue.value,
      set: (value = '') => {
        const match = value.trim().match(/^\+?\d{0,4}/)

        if (match) {
          countryCodeValue.value = match[0]

          if (countryCodeElement.value) {
            countryCodeElement.value.value = match[0]
          }
        }
      }
    })

    const mainNumber = computed({
      get: () => mainNumberValue.value,
      set: (value = '') => {
        const match = value.trim().match(/^\d{0,9}/)

        if (match) {
          mainNumberValue.value = match[0]

          if (mainNumberElement.value) {
            mainNumberElement.value.value = match[0]
          }
        }
      }
    })

    watch([countryCodeValue, mainNumberValue], (newValues) => {
      const [newCountryCodeValue, newMainNumberValue] = newValues

      const telephoneNumber: TelephoneNumber = {
        countryCode: newCountryCodeValue,
        mainNumber: newMainNumberValue
      }

      emit('update:modelValue', telephoneNumber)
    })

    return {
      countryCode,
      mainNumber,
      countryCodeElement,
      mainNumberElement
    }
  }
})
</script>

<style scoped>
.telephone-number {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  min-width: 300px;
}

.country-code,
.main-number {
  display: inline-block;
  flex: 1 1 auto;
}

.country-code {
  width: calc(100% / 3);
}

.main-number {
  width: calc((100% / 3) * 2);
}
</style>
