<template>
  <TelephoneNumber v-model="telephoneNumber" class="telephone-number" />
  <br />
  <pre>{{ telephoneNumberJSON }}</pre>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'

import TelephoneNumber from '@/components/TelephoneNumber.vue'
import type { TelephoneNumber as TelephoneNumberEntity } from '@/entities/TelephoneNumber'

export default defineComponent({
  name: 'App',
  components: {
    TelephoneNumber
  },
  setup () {
    const telephoneNumber = ref<TelephoneNumberEntity>()
    const telephoneNumberJSON = computed(() =>
      JSON.stringify(telephoneNumber.value)
    )

    return { telephoneNumber, telephoneNumberJSON }
  }
})
</script>

<style scoped>
.telephone-number {
  width: 480px;
}
</style>
